.container {
  background: rgba(228, 236, 238, 0.25);
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 4rem;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 4rem 1rem 3rem 1rem;
}

.h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5rem;
}

.logo {
  float: left;
  width: 86px;
  height: 70px;
  margin-right: 2rem;
  position: relative;
  top: -15px;
}

@media only screen and (max-width: 480px) {
  .container {
    margin-bottom: 2rem;
    text-align: center;
  }

  .content {
    padding: 4rem 1rem 1rem 1rem;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .logo {
    float: none;
    width: 44px;
    height: 35px;
    margin: auto;
  }
}
