.container {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  max-width: 900px;
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
    padding: 0 1rem 2rem 1rem;
  }
}
